body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(110deg, rgb(235, 180, 135), pink);
    background-color: darkkhaki;
    text-align: center;
}
header { 
    margin:0;
    padding: 2rem 0;
    animation: fadeIn 2s ease-in-out;
}
header h1 { 
    /* margin: 10px */
    padding: 2.5rem;
    /* font-size: 2.5rem; */
    color: rgb(46, 46, 253);
}
header i {
    color: cornsilk;
    transform: rotate(-10deg);
    padding: 2.0rem
}

.cards{
    display: flex;
    justify-content: center;;
}

.card{
    display: flex;
    justify-content: center;
    gap:2rem;
    flex-wrap: wrap;
    padding:3rem;
}   


.card{
    margin:10px;
    background-color: white;
    padding:2rem;
    border-radius: 2rem;
    width:250px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.card i{
    font-size: 3rem;
    color: tomato;
    margin-bottom: 1rem;
    transition: transform 0.4s;
    
}

.card:hover{
    transform: translateY(-10px) scale(1.05) rotate(1deg);
    box-shadow: 0 10px 20px rgba(0,0,0,0,0.2);
}

.card:hover i{
    transform: rotate(360deg);
}

@keyframes fadeIn{
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }

}

footer{
    padding: 1.5rem;
    background:+fff;
    font-size:1rem;
    animation: fadeIn 3s ease-in-out;
}

