
table{

    
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    width: 100%;
    border-collapse: collapse;

}

thead,tfoot{
    background-color: tomato;
    color:white;
    padding:100px;
    text-align: center;
    
}


td.nav {
    display:flex;
    
    background-color: #f2f2f2;
    vertical-align: top;
}


main{
    display:flex;
    
}


h2{
    text-align: center;
    color:dodgerblue;
    background-color: aqua;
    width:100%
}


ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width:10%;
}


ul li a {
    display: block;
    background-color: #ddd;
    padding: 8px;
    text-decoration: none;
    color: #333;
}

ul li a:hover {
    background-color: #333;
    color: white;
}
